$icomoon-font-family: "SupotsuIcons" !default;
$icomoon-font-path: "fonts" !default;

$icon-add_blu: "\e900";
$icon-add_circle_drk-path1: "\e901";
$icon-add_circle_drk-path2: "\e902";
$icon-add_circle_wht: "\e903";
$icon-add_circle-path1: "\e904";
$icon-add_circle-path2: "\e905";
$icon-add_event_icon: "\e906";
$icon-add_friend-1: "\e907";
$icon-add_friend: "\e908";
$icon-add_hover: "\e909";
$icon-add_image: "\e90a";
$icon-add_photo_icon_drk: "\e90b";
$icon-add_photo_icon: "\e90c";
$icon-add_wht: "\e90d";
$icon-add: "\e90e";
$icon-album_icon_gry: "\e90f";
$icon-album_icon_red: "\e910";
$icon-american_football_icon_drk: "\e911";
$icon-american_football_icon_wht: "\e912";
$icon-american_football_icon: "\e913";
$icon-archery_icon_drk: "\e914";
$icon-archery_icon_wht: "\e915";
$icon-archery_icon: "\e916";
$icon-athletics_icon_drk: "\e917";
$icon-athletics_icon_wht: "\e918";
$icon-athletics_icon: "\e919";
$icon-audio_icon: "\e91a";
$icon-aussie_rules_football_icon_drk: "\e91b";
$icon-aussie_rules_football_icon_wht: "\e91c";
$icon-aussie_rules_football_icon: "\e91d";
$icon-back_arrow_icon: "\e91e";
$icon-badmington_icon_drk: "\e91f";
$icon-badmington_icon_wht: "\e920";
$icon-badmington_icon: "\e921";
$icon-baseball_icon_drk: "\e922";
$icon-baseball_icon_wht: "\e923";
$icon-baseball_icon: "\e924";
$icon-basketball_icon_drk: "\e925";
$icon-basketball_icon_wht: "\e926";
$icon-basketball_icon: "\e927";
$icon-beach_volleyball_icon_drk: "\e928";
$icon-beach_volleyball_icon_wht: "\e929";
$icon-beach_volleyball_icon: "\e92a";
$icon-blue_vert_line: "\e92b";
$icon-bodybuilding_icon_drk: "\e92c";
$icon-bodybuilding_icon_wht: "\e92d";
$icon-bodybuilding_icon: "\e92e";
$icon-bowling_icon_drk: "\e92f";
$icon-bowling_icon_wht: "\e930";
$icon-bowling_icon: "\e931";
$icon-boxing_icon_drk: "\e932";
$icon-boxing_icon_wht: "\e933";
$icon-boxing_icon: "\e934";
$icon-bullet: "\e935";
$icon-calendar_icon_grn: "\e936";
$icon-calendar_icon_gry: "\e937";
$icon-calendar_icon_wht: "\e938";
$icon-canoeing_icon_drk: "\e939";
$icon-canoeing_icon_wht: "\e93a";
$icon-canoeing_icon: "\e93b";
$icon-category_icon: "\e93c";
$icon-certificate_icon_active: "\e93d";
$icon-certificate_icon: "\e93e";
$icon-checkin_gry: "\e93f";
$icon-checkin_icon_wht: "\e940";
$icon-checkin_icon: "\e941";
$icon-checkin_pink: "\e942";
$icon-checkin: "\e943";
$icon-cheerleading_icon_drk: "\e944";
$icon-cheerleading_icon_wht: "\e945";
$icon-cheerleading_icon: "\e946";
$icon-club: "\e947";
$icon-clubs_wht: "\e948";
$icon-color_picker: "\e949";
$icon-comment_icon_wht: "\e94a";
$icon-comment_icon: "\e94b";
$icon-compose-message: "\e94c";
$icon-console: "\e94d";
$icon-contact_icon_active: "\e94e";
$icon-contact_icon: "\e94f";
$icon-corner_me: "\e950";
$icon-corner_you: "\e951";
$icon-cricket_icon_drk-path1: "\e952";
$icon-cricket_icon_drk-path2: "\e953";
$icon-cricket_icon_drk-path3: "\e954";
$icon-cricket_icon_drk-path4: "\e955";
$icon-cricket_icon_wht: "\e956";
$icon-cricket_icon: "\e957";
$icon-cross_country_icon_drk: "\e958";
$icon-cross_country_icon_wht: "\e959";
$icon-cross_country_icon: "\e95a";
$icon-cross_country_running_icon_drk: "\e95b";
$icon-cross_country_running_icon_wht: "\e95c";
$icon-cross_country_running_icon: "\e95d";
$icon-crossfit_icon_drk: "\e95e";
$icon-crossfit_icon_wht: "\e95f";
$icon-crossfit_icon: "\e960";
$icon-cycling_icon_drk: "\e961";
$icon-cycling_icon_wht: "\e962";
$icon-cycling_icon: "\e963";
$icon-dance_icon_drk: "\e964";
$icon-dance_icon_wht: "\e965";
$icon-dance_icon: "\e966";
$icon-dancing_icon_drk: "\e967";
$icon-dancing_icon_wht: "\e968";
$icon-dancing_icon: "\e969";
$icon-decathlon_icon_drk-path1: "\e96a";
$icon-decathlon_icon_drk-path2: "\e96b";
$icon-decathlon_icon_drk-path3: "\e96c";
$icon-decathlon_icon_drk-path4: "\e96d";
$icon-decathlon_icon_drk-path5: "\e96e";
$icon-decathlon_icon_drk-path6: "\e96f";
$icon-decathlon_icon_drk-path7: "\e970";
$icon-decathlon_icon_drk-path8: "\e971";
$icon-decathlon_icon_drk-path9: "\e972";
$icon-decathlon_icon_wht-path1: "\e973";
$icon-decathlon_icon_wht-path2: "\e974";
$icon-decathlon_icon_wht-path3: "\e975";
$icon-decathlon_icon_wht-path4: "\e976";
$icon-decathlon_icon_wht-path5: "\e977";
$icon-decathlon_icon_wht-path6: "\e978";
$icon-decathlon_icon_wht-path7: "\e979";
$icon-decathlon_icon_wht-path8: "\e97a";
$icon-decathlon_icon_wht-path9: "\e97b";
$icon-decathlon_icon-path1: "\e97c";
$icon-decathlon_icon-path2: "\e97d";
$icon-decathlon_icon-path3: "\e97e";
$icon-decathlon_icon-path4: "\e97f";
$icon-decathlon_icon-path5: "\e980";
$icon-decathlon_icon-path6: "\e981";
$icon-decathlon_icon-path7: "\e982";
$icon-decathlon_icon-path8: "\e983";
$icon-decathlon_icon-path9: "\e984";
$icon-default_avatar-path1: "\e985";
$icon-default_avatar-path2: "\e986";
$icon-default_avatar-path3: "\e987";
$icon-delete_icon_blu_drk-path1: "\e988";
$icon-delete_icon_blu_drk-path2: "\e989";
$icon-delete_icon_blu_drk-path3: "\e98a";
$icon-delete_icon_blu-path1: "\e98b";
$icon-delete_icon_blu-path2: "\e98c";
$icon-delete_icon_blu-path3: "\e98d";
$icon-delete_icon_gry-path1: "\e98e";
$icon-delete_icon_gry-path2: "\e98f";
$icon-delete_icon_gry-path3: "\e990";
$icon-delete_icon_wht: "\e991";
$icon-delete: "\e992";
$icon-dislike_icon: "\e993";
$icon-diving_icon_drk: "\e994";
$icon-diving_icon_wht: "\e995";
$icon-diving_icon: "\e996";
$icon-doc_icon_training-path1: "\e997";
$icon-doc_icon_training-path2: "\e998";
$icon-doc_icon_training-path3: "\e999";
$icon-doc_icon_training-path4: "\e99a";
$icon-doc_icon_training-path5: "\e99b";
$icon-doc_icon_training-path6: "\e99c";
$icon-doc_icon_training-path7: "\e99d";
$icon-doc_icon_training-path8: "\e99e";
$icon-doc_icon_training-path9: "\e99f";
$icon-doc_icon-path1: "\e9a0";
$icon-doc_icon-path2: "\e9a1";
$icon-doc_icon-path3: "\e9a2";
$icon-doc_icon-path4: "\e9a3";
$icon-doc_icon-path5: "\e9a4";
$icon-doc_icon-path6: "\e9a5";
$icon-document_icon_drk: "\e9a6";
$icon-document_icon: "\e9a7";
$icon-dots: "\e9a8";
$icon-down_arrow_wht: "\e9a9";
$icon-down_arrow: "\e9aa";
$icon-email_icon_blu: "\e9ab";
$icon-email_icon_wht_send: "\e9ac";
$icon-email_icon_wht: "\e9ad";
$icon-email_icon: "\e9ae";
$icon-emoticon_wht: "\e9af";
$icon-emoticon: "\e9b0";
$icon-event_icon_gry: "\e9b1";
$icon-event_icon_org: "\e9b2";
$icon-event_icon_wht: "\e9b3";
$icon-export_icon_blu_drk: "\e9b4";
$icon-export_icon_wht: "\e9b5";
$icon-extreme_sport_icon_drk: "\e9b6";
$icon-extreme_sport_icon_wht: "\e9b7";
$icon-extreme_sport_icon: "\e9b8";
$icon-facebook_icon_wht: "\e9b9";
$icon-facebook_icon: "\e9ba";
$icon-facebook-group: "\e9bb";
$icon-facts: "\e9bc";
$icon-fan_wht: "\e9bd";
$icon-fencing_icon_drk: "\e9be";
$icon-fencing_icon_wht: "\e9bf";
$icon-fencing_icon: "\e9c0";
$icon-field_hockey_icon_drk: "\e9c1";
$icon-field_hockey_icon_wht: "\e9c2";
$icon-field_hockey_icon: "\e9c3";
$icon-figure_skating_icon_drk: "\e9c4";
$icon-figure_skating_icon_wht: "\e9c5";
$icon-figure_skating_icon: "\e9c6";
$icon-first_half_hover: "\e9c7";
$icon-first_half: "\e9c8";
$icon-foosball_icon_drk: "\e9c9";
$icon-foosball_icon_wht: "\e9ca";
$icon-foosball_icon: "\e9cb";
$icon-Football_pitch_v2-path1: "\e9cc";
$icon-Football_pitch_v2-path2: "\e9cd";
$icon-Football_pitch_v2-path3: "\e9ce";
$icon-formula_one_icon_drk: "\e9cf";
$icon-formula_one_icon_wht: "\e9d0";
$icon-formula_one_icon: "\e9d1";
$icon-friend_icon_gry: "\e9d2";
$icon-friend_icon_wht: "\e9d3";
$icon-friends_icon_active: "\e9d4";
$icon-friends_icon: "\e9d5";
$icon-game_icon: "\e9d6";
$icon-gaming_icon_drk: "\e9d7";
$icon-gaming_icon_wht: "\e9d8";
$icon-gaming_icon: "\e9d9";
$icon-gmc: "\e9da";
$icon-goal_icon_drk: "\e9db";
$icon-goal_icon: "\e9dc";
$icon-golf_icon_drk: "\e9dd";
$icon-golf_icon_wht: "\e9de";
$icon-golf_icon: "\e9df";
$icon-google_icon_2-path1: "\e9e0";
$icon-google_icon_2-path2: "\e9e1";
$icon-google_icon_2-path3: "\e9e2";
$icon-google_icon_2-path4: "\e9e3";
$icon-google_icon-path1: "\e9e4";
$icon-google_icon-path2: "\e9e5";
$icon-google_icon-path3: "\e9e6";
$icon-google_icon-path4: "\e9e7";
$icon-grey_horizontal_line: "\e9e8";
$icon-group_icon-path1: "\e9e9";
$icon-group_icon-path2: "\e9ea";
$icon-group_icon-path3: "\e9eb";
$icon-group_icon-path4: "\e9ec";
$icon-gym_icon_drk: "\e9ed";
$icon-gym_icon_wht: "\e9ee";
$icon-gym_icon: "\e9ef";
$icon-hammer_throw-icon_drk: "\e9f0";
$icon-hammer_throw-icon_wht: "\e9f1";
$icon-hammer_throw-icon: "\e9f2";
$icon-handball_icon_drk: "\e9f3";
$icon-handball_icon_wht: "\e9f4";
$icon-handball_icon: "\e9f5";
$icon-header_grad_drk: "\e9f6";
$icon-header_grad: "\e9f7";
$icon-hide_icon_dwn_lt_blu: "\e9f8";
$icon-hide_icon_dwn_wht: "\e9f9";
$icon-hide_icon_up_lt_blu: "\e9fa";
$icon-high_jump_icon_drk: "\e9fb";
$icon-high_jump_icon_wht: "\e9fc";
$icon-high_jump_icon: "\e9fd";
$icon-hockey_icon_drk: "\e9fe";
$icon-hockey_icon_wht: "\e9ff";
$icon-hockey_icon: "\ea00";
$icon-home_icon_active: "\ea01";
$icon-home_icon: "\ea02";
$icon-ice_hockey_icon_drk: "\ea03";
$icon-ice_hockey_icon_wht: "\ea04";
$icon-ice_hockey_icon: "\ea05";
$icon-instagram_icon-1: "\ea06";
$icon-instagram_icon: "\ea07";
$icon-institution_icon: "\ea08";
$icon-javelin_throw_icon_drk: "\ea09";
$icon-javelin_throw_icon_wht: "\ea0a";
$icon-javelin_throw_icon: "\ea0b";
$icon-lacrosse_icon_drk: "\ea0c";
$icon-lacrosse_icon_wht: "\ea0d";
$icon-lacrosse_icon: "\ea0e";
$icon-landline_icon_blu: "\ea0f";
$icon-landline_icon: "\ea10";
$icon-league: "\ea11";
$icon-left_arrow: "\ea12";
$icon-like_icon_wht-1: "\ea13";
$icon-like_icon_wht: "\ea14";
$icon-like_icon: "\ea15";
$icon-link_icon: "\ea16";
$icon-location_icon: "\ea17";
$icon-mark_no: "\ea18";
$icon-mark_yes: "\ea19";
$icon-martial_arts_icon_drk: "\ea1a";
$icon-martial_arts_icon_wht: "\ea1b";
$icon-martial_arts_icon: "\ea1c";
$icon-message_icon_blu_drk: "\ea1d";
$icon-message_icon_gry: "\ea1e";
$icon-message_icon_wht: "\ea1f";
$icon-mijsports_logo-path1: "\ea20";
$icon-mijsports_logo-path2: "\ea21";
$icon-mijsports_logo-path3: "\ea22";
$icon-mijsports_logo-path4: "\ea23";
$icon-mijsports_logo-path5: "\ea24";
$icon-mijsports_logo-path6: "\ea25";
$icon-mijsports_logo-path7: "\ea26";
$icon-mijsports_logo-path8: "\ea27";
$icon-mijsports_logo-path9: "\ea28";
$icon-mijsports_logo-path10: "\ea29";
$icon-minus_icon_blu: "\ea2a";
$icon-minus_icon_wht: "\ea2b";
$icon-mobile_icon_blu: "\ea2c";
$icon-mobile_icon_wht: "\ea2d";
$icon-mobile_icon: "\ea2e";
$icon-moment_icon-path1: "\ea2f";
$icon-moment_icon-path2: "\ea30";
$icon-moment_icon-path3: "\ea31";
$icon-moment_icon-path4: "\ea32";
$icon-moment_icon-path5: "\ea33";
$icon-moment_icon-path6: "\ea34";
$icon-moment_icon-path7: "\ea35";
$icon-moment_icon-path8: "\ea36";
$icon-moment_icon-path9: "\ea37";
$icon-moment_icon-path10: "\ea38";
$icon-motorsport_icon_drk: "\ea39";
$icon-motorsport_icon_wht: "\ea3a";
$icon-motorsport_icon: "\ea3b";
$icon-mountaineering_climbing_icon_drk: "\ea3c";
$icon-mountaineering_climbing_icon_wht: "\ea3d";
$icon-mountaineering_climbing_icon: "\ea3e";
$icon-multi_even_marker_dwn: "\ea3f";
$icon-multi_even_marker_up: "\ea40";
$icon-netball_icon_drk: "\ea41";
$icon-netball_icon_wht: "\ea42";
$icon-netball_icon: "\ea43";
$icon-Netball-edit2-path1: "\ea44";
$icon-Netball-edit2-path2: "\ea45";
$icon-Netball-edit2-path3: "\ea46";
$icon-Netball-edit2-path4: "\ea47";
$icon-Netball-edit2-path5: "\ea48";
$icon-Netball-edit2-path6: "\ea49";
$icon-Netball-edit2-path7: "\ea4a";
$icon-Netball-edit2-path8: "\ea4b";
$icon-Netball-edit2-path9: "\ea4c";
$icon-Netball-edit2-path10: "\ea4d";
$icon-Netball-edit2-path11: "\ea4e";
$icon-Netball-edit2-path12: "\ea4f";
$icon-Netball-edit2-path13: "\ea50";
$icon-Netball-edit2-path14: "\ea51";
$icon-Netball-edit2-path15: "\ea52";
$icon-Netball-edit2-path16: "\ea53";
$icon-Netball-edit2-path17: "\ea54";
$icon-next_arrow_blu: "\ea55";
$icon-next_arrow: "\ea56";
$icon-next_game: "\ea57";
$icon-notice_icon_gray: "\ea58";
$icon-notice_icon: "\ea59";
$icon-notification_icon_drk-path1: "\ea5a";
$icon-notification_icon_drk-path2: "\ea5b";
$icon-notification_icon_drk-path3: "\ea5c";
$icon-notification_icon_gray: "\ea5d";
$icon-notification_icon-path1: "\ea5e";
$icon-notification_icon-path2: "\ea5f";
$icon-notification_icon-path3: "\ea60";
$icon-or_hr: "\ea61";
$icon-pause-1: "\ea62";
$icon-pause_hover: "\ea63";
$icon-pause: "\ea64";
$icon-pdf_icon_training-path1: "\ea65";
$icon-pdf_icon_training-path2: "\ea66";
$icon-pdf_icon_training-path3: "\ea67";
$icon-pdf_icon_training-path4: "\ea68";
$icon-pdf_icon_training-path5: "\ea69";
$icon-pdf_icon_training-path6: "\ea6a";
$icon-pdf_icon-path1: "\ea6b";
$icon-pdf_icon-path2: "\ea6c";
$icon-pdf_icon-path3: "\ea6d";
$icon-pdf_icon-path4: "\ea6e";
$icon-pdf_icon-path5: "\ea6f";
$icon-pdf_icon-path6: "\ea70";
$icon-pen_icon_blu-path1: "\ea71";
$icon-pen_icon_blu-path2: "\ea72";
$icon-pen_icon_gry: "\ea73";
$icon-pen_icon_wht: "\ea74";
$icon-pen_icon: "\ea75";
$icon-penalty_icon_drk: "\ea76";
$icon-penalty_icon: "\ea77";
$icon-personal_profile: "\ea78";
$icon-photo_icon_change: "\ea79";
$icon-photo_icon_green: "\ea7a";
$icon-photo_icon_gry: "\ea7b";
$icon-photo_icon_wht: "\ea7c";
$icon-photo_icon: "\ea7d";
$icon-photos_icon_active: "\ea7e";
$icon-photos_icon: "\ea7f";
$icon-pilates_icon_drk: "\ea80";
$icon-pilates_icon_wht: "\ea81";
$icon-pilates_icon: "\ea82";
$icon-placeholder-path1: "\ea83";
$icon-placeholder-path2: "\ea84";
$icon-placeholder-path3: "\ea85";
$icon-placeholder-path4: "\ea86";
$icon-plus_icon: "\ea87";
$icon-plus-square-button: "\ea88";
$icon-pole_vault_icon_drk: "\ea89";
$icon-pole_vault_icon_wht: "\ea8a";
$icon-pole_vault_icon: "\ea8b";
$icon-polo_icon_drk: "\ea8c";
$icon-polo_icon_wht: "\ea8d";
$icon-polo_icon: "\ea8e";
$icon-power_lifting_icon_drk: "\ea8f";
$icon-power_lifting_icon_wht: "\ea90";
$icon-power_lifting_icon: "\ea91";
$icon-ppt_icon-path1: "\ea92";
$icon-ppt_icon-path2: "\ea93";
$icon-ppt_icon-path3: "\ea94";
$icon-ppt_icon-path4: "\ea95";
$icon-ppt_icon-path5: "\ea96";
$icon-ppt_icon-path6: "\ea97";
$icon-privacy_icon: "\ea98";
$icon-quote_icon: "\ea99";
$icon-react_angry-path1: "\ea9a";
$icon-react_angry-path2: "\ea9b";
$icon-react_angry-path3: "\ea9c";
$icon-react_angry-path4: "\ea9d";
$icon-react_angry-path5: "\ea9e";
$icon-react_angry-path6: "\ea9f";
$icon-react_dislike-path1: "\eaa0";
$icon-react_dislike-path2: "\eaa1";
$icon-react_dislike-path3: "\eaa2";
$icon-react_laugh-path1: "\eaa3";
$icon-react_laugh-path2: "\eaa4";
$icon-react_laugh-path3: "\eaa5";
$icon-react_laugh-path4: "\eaa6";
$icon-react_laugh-path5: "\eaa7";
$icon-react_like-path1: "\eaa8";
$icon-react_like-path2: "\eaa9";
$icon-react_like-path3: "\eaaa";
$icon-react_sad-path1: "\eaab";
$icon-react_sad-path2: "\eaac";
$icon-react_sad-path3: "\eaad";
$icon-react_sad-path4: "\eaae";
$icon-react_sad-path5: "\eaaf";
$icon-react_wow-path1: "\eab0";
$icon-react_wow-path2: "\eab1";
$icon-react_wow-path3: "\eab2";
$icon-react_wow-path4: "\eab3";
$icon-realtime_timeline_bg: "\eab4";
$icon-realtime_timeline_solid: "\eab5";
$icon-realtime_timeline: "\eab6";
$icon-red_card_icon: "\eab7";
$icon-reset_hover: "\eab8";
$icon-reset: "\eab9";
$icon-right_arrow: "\eaba";
$icon-ring: "\eabb";
$icon-rowing_icon_drk: "\eabc";
$icon-rowing_icon_wht: "\eabd";
$icon-rowing_icon: "\eabe";
$icon-rugby_icon_drk: "\eabf";
$icon-rugby_icon_wht: "\eac0";
$icon-rugby_icon: "\eac1";
$icon-rugby_pitch: "\eac2";
$icon-Rugby_union_pitch-path1: "\eac3";
$icon-Rugby_union_pitch-path2: "\eac4";
$icon-Rugby_union_pitch-path3: "\eac5";
$icon-Rugby_union_pitch-path4: "\eac6";
$icon-Rugby_union_pitch-path5: "\eac7";
$icon-Rugby_union_pitch-path6: "\eac8";
$icon-Rugby_union_pitch-path7: "\eac9";
$icon-Rugby_union_pitch-path8: "\eaca";
$icon-Rugby_union_pitch-path9: "\eacb";
$icon-Rugby_union_pitch-path10: "\eacc";
$icon-Rugby_union_pitch-path11: "\eacd";
$icon-Rugby_union_pitch-path12: "\eace";
$icon-Rugby_union_pitch-path13: "\eacf";
$icon-Rugby_union_pitch-path14: "\ead0";
$icon-Rugby_union_pitch-path15: "\ead1";
$icon-Rugby_union_pitch-path16: "\ead2";
$icon-Rugby_union_pitch-path17: "\ead3";
$icon-Rugby_union_pitch-path18: "\ead4";
$icon-Rugby_union_pitch-path19: "\ead5";
$icon-Rugby_union_pitch-path20: "\ead6";
$icon-Rugby_union_pitch-path21: "\ead7";
$icon-Rugby_union_pitch-path22: "\ead8";
$icon-Rugby_union_pitch-path23: "\ead9";
$icon-Rugby_union_pitch-path24: "\eada";
$icon-Rugby_union_pitch-path25: "\eadb";
$icon-Rugby_union_pitch-path26: "\eadc";
$icon-Rugby_union_pitch-path27: "\eadd";
$icon-Rugby_union_pitch-path28: "\eade";
$icon-Rugby_union_pitch-path29: "\eadf";
$icon-Rugby_union_pitch-path30: "\eae0";
$icon-Rugby_union_pitch-path31: "\eae1";
$icon-Rugby_union_pitch-path32: "\eae2";
$icon-Rugby_union_pitch-path33: "\eae3";
$icon-Rugby_union_pitch-path34: "\eae4";
$icon-Rugby_union_pitch-path35: "\eae5";
$icon-Rugby_union_pitch-path36: "\eae6";
$icon-Rugby_union_pitch-path37: "\eae7";
$icon-Rugby_union_pitch-path38: "\eae8";
$icon-Rugby_union_pitch-path39: "\eae9";
$icon-Rugby_union_pitch-path40: "\eaea";
$icon-Rugby_union_pitch-path41: "\eaeb";
$icon-Rugby_union_pitch-path42: "\eaec";
$icon-Rugby_union_pitch-path43: "\eaed";
$icon-Rugby_union_pitch-path44: "\eaee";
$icon-Rugby_union_pitch-path45: "\eaef";
$icon-Rugby_union_pitch-path46: "\eaf0";
$icon-Rugby_union_pitch-path47: "\eaf1";
$icon-Rugby_union_pitch-path48: "\eaf2";
$icon-Rugby_union_pitch-path49: "\eaf3";
$icon-Rugby_union_pitch-path50: "\eaf4";
$icon-Rugby_union_pitch-path51: "\eaf5";
$icon-Rugby_union_pitch-path52: "\eaf6";
$icon-Rugby_union_pitch-path53: "\eaf7";
$icon-Rugby_union_pitch-path54: "\eaf8";
$icon-Rugby_union_pitch-path55: "\eaf9";
$icon-Rugby_union_pitch-path56: "\eafa";
$icon-Rugby_union_pitch-path57: "\eafb";
$icon-Rugby_union_pitch-path58: "\eafc";
$icon-Rugby_union_pitch-path59: "\eafd";
$icon-Rugby_union_pitch-path60: "\eafe";
$icon-Rugby_union_pitch-path61: "\eaff";
$icon-Rugby_union_pitch-path62: "\eb00";
$icon-Rugby_union_pitch-path63: "\eb01";
$icon-Rugby_union_pitch-path64: "\eb02";
$icon-Rugby_union_pitch-path65: "\eb03";
$icon-Rugby_union_pitch-path66: "\eb04";
$icon-Rugby_union_pitch-path67: "\eb05";
$icon-Rugby_union_pitch-path68: "\eb06";
$icon-Rugby_union_pitch-path69: "\eb07";
$icon-Rugby_union_pitch-path70: "\eb08";
$icon-Rugby_union_pitch-path71: "\eb09";
$icon-Rugby_union_pitch-path72: "\eb0a";
$icon-Rugby_union_pitch-path73: "\eb0b";
$icon-Rugby_union_pitch-path74: "\eb0c";
$icon-Rugby_union_pitch-path75: "\eb0d";
$icon-Rugby_union_pitch-path76: "\eb0e";
$icon-Rugby_union_pitch-path77: "\eb0f";
$icon-Rugby_union_pitch-path78: "\eb10";
$icon-Rugby_union_pitch-path79: "\eb11";
$icon-Rugby_union_pitch-path80: "\eb12";
$icon-Rugby_union_pitch-path81: "\eb13";
$icon-Rugby_union_pitch-path82: "\eb14";
$icon-Rugby_union_pitch-path83: "\eb15";
$icon-Rugby_union_pitch-path84: "\eb16";
$icon-Rugby_union_pitch-path85: "\eb17";
$icon-Rugby_union_pitch-path86: "\eb18";
$icon-Rugby_union_pitch-path87: "\eb19";
$icon-Rugby_union_pitch-path88: "\eb1a";
$icon-Rugby_union_pitch-path89: "\eb1b";
$icon-Rugby_union_pitch-path90: "\eb1c";
$icon-Rugby_union_pitch-path91: "\eb1d";
$icon-Rugby_union_pitch-path92: "\eb1e";
$icon-Rugby_union_pitch-path93: "\eb1f";
$icon-Rugby_union_pitch-path94: "\eb20";
$icon-Rugby_union_pitch-path95: "\eb21";
$icon-Rugby_union_pitch-path96: "\eb22";
$icon-Rugby_union_pitch-path97: "\eb23";
$icon-Rugby_union_pitch-path98: "\eb24";
$icon-Rugby_union_pitch-path99: "\eb25";
$icon-Rugby_union_pitch-path100: "\eb26";
$icon-Rugby_union_pitch-path101: "\eb27";
$icon-Rugby_union_pitch-path102: "\eb28";
$icon-Rugby_union_pitch-path103: "\eb29";
$icon-Rugby_union_pitch-path104: "\eb2a";
$icon-Rugby_union_pitch-path105: "\eb2b";
$icon-Rugby_union_pitch-path106: "\eb2c";
$icon-Rugby_union_pitch-path107: "\eb2d";
$icon-Rugby_union_pitch-path108: "\eb2e";
$icon-Rugby_union_pitch-path109: "\eb2f";
$icon-Rugby_union_pitch-path110: "\eb30";
$icon-Rugby_union_pitch-path111: "\eb31";
$icon-Rugby_union_pitch-path112: "\eb32";
$icon-Rugby_union_pitch-path113: "\eb33";
$icon-Rugby_union_pitch-path114: "\eb34";
$icon-Rugby_union_pitch-path115: "\eb35";
$icon-Rugby_union_pitch-path116: "\eb36";
$icon-Rugby_union_pitch-path117: "\eb37";
$icon-Rugby_union_pitch-path118: "\eb38";
$icon-Rugby_union_pitch-path119: "\eb39";
$icon-Rugby_union_pitch-path120: "\eb3a";
$icon-Rugby_union_pitch-path121: "\eb3b";
$icon-Rugby_union_pitch-path122: "\eb3c";
$icon-Rugby_union_pitch-path123: "\eb3d";
$icon-Rugby_union_pitch-path124: "\eb3e";
$icon-Rugby_union_pitch-path125: "\eb3f";
$icon-Rugby_union_pitch-path126: "\eb40";
$icon-Rugby_union_pitch-path127: "\eb41";
$icon-Rugby_union_pitch-path128: "\eb42";
$icon-Rugby_union_pitch-path129: "\eb43";
$icon-Rugby_union_pitch-path130: "\eb44";
$icon-Rugby_union_pitch-path131: "\eb45";
$icon-Rugby_union_pitch-path132: "\eb46";
$icon-Rugby_union_pitch-path133: "\eb47";
$icon-Rugby_union_pitch-path134: "\eb48";
$icon-Rugby_union_pitch-path135: "\eb49";
$icon-Rugby_union_pitch-path136: "\eb4a";
$icon-Rugby_union_pitch-path137: "\eb4b";
$icon-Rugby_union_pitch-path138: "\eb4c";
$icon-Rugby_union_pitch-path139: "\eb4d";
$icon-Rugby_union_pitch-path140: "\eb4e";
$icon-Rugby_union_pitch-path141: "\eb4f";
$icon-Rugby_union_pitch-path142: "\eb50";
$icon-Rugby_union_pitch-path143: "\eb51";
$icon-Rugby_union_pitch-path144: "\eb52";
$icon-RugbyUnionPitch-path1: "\eb53";
$icon-RugbyUnionPitch-path2: "\eb54";
$icon-RugbyUnionPitch-path3: "\eb55";
$icon-RugbyUnionPitch-path4: "\eb56";
$icon-RugbyUnionPitch-path5: "\eb57";
$icon-RugbyUnionPitch-path6: "\eb58";
$icon-RugbyUnionPitch-path7: "\eb59";
$icon-RugbyUnionPitch-path8: "\eb5a";
$icon-running_icon_drk: "\eb5b";
$icon-running_icon_wht: "\eb5c";
$icon-running_icon: "\eb5d";
$icon-sailing_icon_drk: "\eb5e";
$icon-sailing_icon_wht: "\eb5f";
$icon-sailing_icon: "\eb60";
$icon-scuba_diving_icon_drk: "\eb61";
$icon-scuba_diving_icon_wht: "\eb62";
$icon-scuba_diving_icon: "\eb63";
$icon-search_friend_drk: "\eb64";
$icon-search_friend: "\eb65";
$icon-search_sport_hover: "\eb66";
$icon-second_half-1: "\eb67";
$icon-second_half_hover: "\eb68";
$icon-second_half: "\eb69";
$icon-select_sport_hover_drk: "\eb6a";
$icon-select_sport_hover: "\eb6b";
$icon-select-bx-bg-path1: "\eb6c";
$icon-select-bx-bg-path2: "\eb6d";
$icon-settings_blue_hover: "\eb6e";
$icon-settings_blue: "\eb6f";
$icon-settings_circle_drk-path1: "\eb70";
$icon-settings_circle_drk-path2: "\eb71";
$icon-settings_circle-path1: "\eb72";
$icon-settings_circle-path2: "\eb73";
$icon-settings: "\eb74";
$icon-share_circle_drk-path1: "\eb75";
$icon-share_circle_drk-path2: "\eb76";
$icon-share_circle-path1: "\eb77";
$icon-share_circle-path2: "\eb78";
$icon-share_icon_wht: "\eb79";
$icon-share_icon: "\eb7a";
$icon-skateboarding_icon_drk: "\eb7b";
$icon-skateboarding_icon_wht: "\eb7c";
$icon-skateboarding_icon: "\eb7d";
$icon-skiiing_icon_drk: "\eb7e";
$icon-skiiing_icon_wht: "\eb7f";
$icon-skiiing_icon: "\eb80";
$icon-snooker_icon_drk: "\eb81";
$icon-snooker_icon_wht: "\eb82";
$icon-snooker_icon: "\eb83";
$icon-snowboarding_icon_drk: "\eb84";
$icon-snowboarding_icon_wht: "\eb85";
$icon-snowboarding_icon: "\eb86";
$icon-soccer_field-path1: "\eb87";
$icon-soccer_field-path2: "\eb88";
$icon-soccer_field-path3: "\eb89";
$icon-soccer_field-path4: "\eb8a";
$icon-soccer_field-path5: "\eb8b";
$icon-soccer_field-path6: "\eb8c";
$icon-soccer_field-path7: "\eb8d";
$icon-soccer_field-path8: "\eb8e";
$icon-soccer_field-path9: "\eb8f";
$icon-soccer_field-path10: "\eb90";
$icon-soccer_field-path11: "\eb91";
$icon-soccer_field-path12: "\eb92";
$icon-soccer_field-path13: "\eb93";
$icon-soccer_field-path14: "\eb94";
$icon-soccer_field-path15: "\eb95";
$icon-soccer_field-path16: "\eb96";
$icon-soccer_field-path17: "\eb97";
$icon-soccer_field-path18: "\eb98";
$icon-soccer_icon_drk: "\eb99";
$icon-soccer_icon_wht: "\eb9a";
$icon-soccer_icon: "\eb9b";
$icon-softball_icon_drk: "\eb9c";
$icon-softball_icon_wht: "\eb9d";
$icon-softball_icon: "\eb9e";
$icon-sprint_icon_drk: "\eb9f";
$icon-sprint_icon_wht: "\eba0";
$icon-sprint_icon: "\eba1";
$icon-sqaush_icon_drk: "\eba2";
$icon-sqaush_icon_wht: "\eba3";
$icon-sqaush_icon: "\eba4";
$icon-star_blu: "\eba5";
$icon-star_grn: "\eba6";
$icon-star_wht: "\eba7";
$icon-star_yel: "\eba8";
$icon-start: "\eba9";
$icon-substitution_icon_drk: "\ebaa";
$icon-substitution_icon: "\ebab";
$icon-supotsu_logo-path1: "\ebac";
$icon-supotsu_logo-path2: "\ebad";
$icon-supotsu_logo-path3: "\ebae";
$icon-supotsu_logo-path4: "\ebaf";
$icon-supotsu_logo-path5: "\ebb0";
$icon-supotsu_logo-path6: "\ebb1";
$icon-supotsu_logo-path7: "\ebb2";
$icon-supotsu_logo-path8: "\ebb3";
$icon-surfing_icon_drk: "\ebb4";
$icon-surfing_icon_wht: "\ebb5";
$icon-surfing_icon: "\ebb6";
$icon-swimming_icon_drk: "\ebb7";
$icon-swimming_icon_wht: "\ebb8";
$icon-swimming_icon: "\ebb9";
$icon-switch_toggle: "\ebba";
$icon-table_tennis_icon_drk: "\ebbb";
$icon-table_tennis_icon_wht: "\ebbc";
$icon-table_tennis_icon: "\ebbd";
$icon-tag_icon_blu: "\ebbe";
$icon-tag_icon_gry: "\ebbf";
$icon-tag_icon: "\ebc0";
$icon-team: "\ebc1";
$icon-tennis_icon_drk: "\ebc2";
$icon-tennis_icon_wht: "\ebc3";
$icon-tennis_icon: "\ebc4";
$icon-thumbs_down_icon: "\ebc5";
$icon-thumbs_icon-path1: "\ebc6";
$icon-thumbs_icon-path2: "\ebc7";
$icon-thumbs_icon-path3: "\ebc8";
$icon-thumbs_icon-path4: "\ebc9";
$icon-thumbs_up_icon: "\ebca";
$icon-tick_circle_wht: "\ebcb";
$icon-timeline_dotted: "\ebcc";
$icon-timeline_indicator: "\ebcd";
$icon-timeline_minute: "\ebce";
$icon-timeline_solid: "\ebcf";
$icon-triathalon_icon_drk: "\ebd0";
$icon-triathalon_icon_wht: "\ebd1";
$icon-triathalon_icon: "\ebd2";
$icon-twitter_icon_wht: "\ebd3";
$icon-twitter_icon: "\ebd4";
$icon-university: "\ebd5";
$icon-unverified_icon_hover: "\ebd6";
$icon-unverified_icon: "\ebd7";
$icon-unverified_team: "\ebd8";
$icon-user-picture: "\ebd9";
$icon-verified_icon: "\ebda";
$icon-verified_team: "\ebdb";
$icon-video_icon: "\ebdc";
$icon-volleyball_icon_drk: "\ebdd";
$icon-volleyball_icon_wht: "\ebde";
$icon-volleyball_icon: "\ebdf";
$icon-water_skiing_icon_drk: "\ebe0";
$icon-water_skiing_icon_wht: "\ebe1";
$icon-water_skiing_icon: "\ebe2";
$icon-waterpolo_icon_drk: "\ebe3";
$icon-waterpolo_icon_wht: "\ebe4";
$icon-waterpolo_icon: "\ebe5";
$icon-Wave_Dash: "\ebe6";
$icon-Wave_Dash1: "\ebe7";
$icon-website_icon_blk: "\ebe8";
$icon-website_icon_blu: "\ebe9";
$icon-website_icon_wht: "\ebea";
$icon-website_icon: "\ebeb";
$icon-who_sees_friends-path1: "\ebec";
$icon-who_sees_friends-path2: "\ebed";
$icon-who_sees_friends-path3: "\ebee";
$icon-who_sees_friends-path4: "\ebef";
$icon-who_sees_game-path1: "\ebf0";
$icon-who_sees_game-path2: "\ebf1";
$icon-who_sees_game-path3: "\ebf2";
$icon-who_sees_game-path4: "\ebf3";
$icon-who_sees_game-path5: "\ebf4";
$icon-who_sees_game-path6: "\ebf5";
$icon-who_sees_game-path7: "\ebf6";
$icon-who_sees_game-path8: "\ebf7";
$icon-who_sees_game-path9: "\ebf8";
$icon-who_sees_league-path1: "\ebf9";
$icon-who_sees_league-path2: "\ebfa";
$icon-who_sees_team-path1: "\ebfb";
$icon-who_sees_team-path2: "\ebfc";
$icon-who_sees_team-path3: "\ebfd";
$icon-who_sees_team-path4: "\ebfe";
$icon-wind_surfing_icon_drk: "\ebff";
$icon-wind_surfing_icon_wht: "\ec00";
$icon-wind_surfing_icon: "\ec01";
$icon-works: "\ec02";
$icon-wrestling_icon_drk: "\ec03";
$icon-wrestling_icon_wht: "\ec04";
$icon-wrestling_icon: "\ec05";
$icon-xls_icon_training-path1: "\ec06";
$icon-xls_icon_training-path2: "\ec07";
$icon-xls_icon_training-path3: "\ec08";
$icon-xls_icon_training-path4: "\ec09";
$icon-xls_icon_training-path5: "\ec0a";
$icon-xls_icon_training-path6: "\ec0b";
$icon-xls_icon-path1: "\ec0c";
$icon-xls_icon-path2: "\ec0d";
$icon-xls_icon-path3: "\ec0e";
$icon-xls_icon-path4: "\ec0f";
$icon-xls_icon-path5: "\ec10";
$icon-xls_icon-path6: "\ec11";
$icon-yellow_card_icon_ptn-path1: "\ec12";
$icon-yellow_card_icon_ptn-path2: "\ec13";
$icon-yellow_card_icon_ptn-path3: "\ec14";
$icon-yellow_card_icon_ptn-path4: "\ec15";
$icon-yellow_card_icon_ptn-path5: "\ec16";
$icon-yellow_card_icon_ptn-path6: "\ec17";
$icon-yellow_card_icon: "\ec18";
$icon-yoga_icon_drk: "\ec19";
$icon-yoga_icon_wht: "\ec1a";
$icon-yoga_icon: "\ec1b";

